<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-signin-client_id" content="45072844385-3sjid0nbh8q332kpn7d17iaadc6g3nu2.apps.googleusercontent.com">
        <link rel="stylesheet" href="static\bootstrap-5.3.2-dist\bootstrap-5.3.2-dist\css\bootstrap.min.css">
        <link rel="stylesheet" href="static\bootstrap-5.3.2-dist\bootstrap-5.3.2-dist\css\index.css">
        <script src="static\bootstrap-5.3.2-dist\bootstrap-5.3.2-dist\js\bootstrap.min.js"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% if msg %}
                    <h1 class="text-center">{{msg}}</h1>
                {% endif %}
                <div class="card my-5">
                    <h1 class="card-title text-center">Login</h1>
                    <form action="?" class="card-body cardbody-color p-lg-5" method="post" autocomplete="off">
                        <div class="mb-3">
                            <label for="username">Username</label>
                            <input class="form-control border border-dark border-2" type="text" id="username" name="username" placeholder="username" required><br>
                        </div>
                        <div class="mb-3">
                            <label for="password">Password</label><br>
                            <input class="form-control border border-dark border-2" type="text" id="password" name="password" placeholder="password" required>
                            <p><strong>Remember</strong>: Passwords are case-sensitive</p>
                        </div>
                        <div class="d-grid">
                            <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                            <button type="submit" class="btn btn-primary btn-block text-center">Login</button>
                        </div>
                        <div class="w-100" id="g_id_onload" data-client_id="45072844385-3sjid0nbh8q332kpn7d17iaadc6g3nu2.apps.googleusercontent.com" data-callback="handleCredentialResponse"></div>
                        <div class="g_id_signin" data-logo_alignment="center" data-type="standard"></div>
                        <br>
                        <div class="g-recaptcha d-flex justify-content-center" data-sitekey="6Ldl3L8pAAAAACTgdoHjgVB3rlE3Q4Zfyl7-_O7y"></div>
                        <br>
                        <p class="text-center hr-lines">or</p>
                        <br>
                        <div class="d-grid">
                            <a href="{{ url_for('register') }}" class="btn btn-primary btn-block text-center" role="button">Register</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>